@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

.wrapper {
    height:calc(100vh - 1px);
    width: calc(100vw - 1px);
    background-color: #000000;
    opacity: 1;
    background-image: radial-gradient(var(--color_text) 1px, transparent 1px), radial-gradient(var(--color_text) 2px, var(--color_tile) 2px);
    background-size: 100px 100px;
    animation: background-pan 100s linear infinite;
    /* display: flex; */
}

.icon {
    position: relative;
    z-index: 1000000;
}