@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

.wrapper {
    height: calc(100vh - 1px);
    /* width: calc(100vw - 1px); */
    display: grid;
    grid-gap: 1px;
    padding: 1px;
    background: var(--color_gradient);
    animation: background-pan 3s linear infinite;
    background-size: 200% 100%;
    overflow: hidden;
}



.children {
    z-index: 1;
    position: absolute;
    pointer-events: none;
    animation: show 1s ease-in-out forwards;
}

.tile {
    background-color: var(--color_tile);
    /* margin: 1px; */
    z-index: 0;
    transition: background-color 0.4s ease;
}

.tile:hover {
    background-color: transparent
}

