@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Martian+Mono:wght@100;200;300;400;500;600;700;800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Container */
.container {
    background-color: transparent;
    display: flex;
    height: 100vh;
    position: relative;
    z-index: 4;
}

/* Icons Tab */
.projectIcons {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid rgb(255, 255, 255);
    padding-block: 5vw;
    margin-right: 1vw;
    z-index: 1;
}

.icon {
    padding: 0.5vw;
    font-size: 3vw;
    border: 0.15rem solid rgb(255, 255, 255);
    border-radius: 10%;
    box-shadow: 0.2rem 0.2rem 0px 0px rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.4s;
}

.icon:hover {
    background-color: var(--color_primary);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    scale: 1.1;
}


/* Content Part */
.projectContent {
    height: 100%;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 5vw;
    z-index: 1;

}

.projectHead {
    flex: 1;
}

.title {
    font-family: 'Martian Mono', monospace;
    font-size: 5vw;
    font-weight: 900;
    color: var(--color_text);
    margin: 0;
}

.subTitle {
    font-family: 'Martian Mono', monospace;
    font-weight: 900;
    color: var(--color_text);
    margin-bottom: 0;

}

.subtitle {
    font-family: 'Martian Mono', serif;
    font-size: 1.2vw;
    font-weight: 200;
    color: var(--color_text);
    margin: 1vw 0;
}

.projectDetails {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin-right: 5vw;
}

.notes {
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.note {
    font-family: 'Martian Mono', serif;
    font-size: 1rem;

    font-weight: 500;
    list-style: none;
    padding: 0.8vw;
    color: var(--color_text);
    background-color: #6D67E4;
    border-radius: 0.5vw;
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 5px 5px 0px 0px rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.4s;
}

.note:hover {
    background-color: rgb(255, 255, 255);
    color: #6D67E4;
    border: 2px solid rgb(0, 0, 0);
    scale: 1.1;
}

.projectButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2.5vw;
}

.projectButtons button {
    font-family: 'Martian Mono', serif;
    font-size: 1.3rem;
    font-weight: 900;
    padding: 0.5vw;
    color: var(--color_text);
    background-color: #FB2576;
    border-radius: 0.5vw;
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 5px 5px 0px 0px rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.4s;
}

.projectButtons button:hover {
    background-color: rgb(255, 255, 255);
    color: #FB2576;
    border: 2px solid #000;
    box-shadow: 5px 5px 0px 0px #fff;
    transform: translateX(10px);
    scale: 1.2;
}

/* Project Gallery */
.projectGallery {
    height: 100%;
    flex: 3;
}


.fadeUp {
    z-index: 1;
    background: linear-gradient(0deg, transparent 75%, var(--color_tile) 100%), linear-gradient(0deg, var(--color_tile) 0%, transparent 30%);
    height: 100vh;
    width: 100%;
    position: absolute;
    pointer-events: none;
}

@media only screen and (max-width: 700px) {
    .container {
        flex-direction: column;
    }

    .projectIcons {
        flex: 0;
        flex-direction: row;
        border-right: none;
        border-bottom: 1px solid rgb(255, 255, 255);
        padding: 0;

    }

    .icon {
        padding: 0.5vw;
        font-size: 8vw;
    }

    .projectContent {
        height: 90%;
        width: 100%;
        flex: 9;
        position: absolute;
        bottom: 0%;

        justify-content: center;
        align-items: center;
        
        transform: translateX(-100%);
    }

    .projectHead {
        flex: 1;
    }

    .title {
        font-size: 15vw;
        font-weight: 900;
    }

    .subTitle {
        font-size: 4vw;
    }

    .subtitle {
        font-size: 3vw;
        font-weight: 300;
    }

    .projectDetails {
        flex: 4;
        display: flex;
        flex-direction: column;
        margin-right: 5vw;
    }

    .notes {
        justify-content: start;
    }

    .note {
        margin-inline : auto;
        width: 80%;
        margin-top : 6vw;
    }

    .note:hover {
        background-color: rgb(255, 255, 255);
        color: #6D67E4;
        border: 2px solid rgb(0, 0, 0);
        scale: 1.1;
    }

    .projectButtons {
       
    }

    .projectButtons button {
        
    }

    .projectButtons button:hover {
       
    }

    .projectGallery {
        height: 100%;
        /* background-color: red; */
    }
}