@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html,
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Mono";
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}


*::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

:root {
  --color_text: #000;
  --color_background: #fff;
  --color_primary: #000;
  --color_secondary: #fff;
  --color_accent: #000;
  --color_muted: #000;
  --color_gradient: linear-gradient(to right, rgba(98, 0, 234, 1) 0%, rgba(236, 64, 122, 1) 15%, rgba(98, 0, 234, 1) 100%);
  
}

body {
  color: var(--color_text);
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}


/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: light dark;
  }

  body {
    color: white;
    background: black;
  }
} */